
/* Window */
.panel_window_ul
{
	width: 6px;
	height: 25px;
	background-image: url(/pbc/Images/WindowPanel/window_ul.gif);
	background-position: left;
}
.panel_window_u
{
	text-align: left;
	background-color: #609EE7;
	color: #FFFFFF;
	font-size: 13px;
}
.panel_window_ur
{
	width: 6px;
	height: 25px;
	background-image: url(/pbc/Images/WindowPanel/window_ur.gif);
	background-position: right;
}
.panel_window_l
{
	border-left: solid 1px #DADADA;
}
.panel_window_c
{
}
.panel_window_r
{
	border-right: solid 1px #DADADA;
}
.panel_window_bl
{
	width: 6px;
	height: 6px;
	background-image: url(/pbc/Images/WindowPanel/window_bl.gif);
	background-position: left;
}
.panel_window_b
{
	border-bottom: solid 1px #DADADA;
}
.panel_window_br
{
	width: 6px;
	height: 6px;
	background-image: url(/pbc/Images/WindowPanel/window_br.gif);
	background-position: right;
}
/* Blue */
.panel_blue_ul
{
	width: 5px;
	height: 5px;
	background-image: url(/pbc/Images/WindowPanel/blue_ul.gif);
	background-repeat: no-repeat;
}
.panel_blue_u
{
	height: 5px;
	background-image: url(/pbc/Images/WindowPanel/blue_u.gif);
	background-repeat: repeat-x;
}
.panel_blue_ur
{
	width: 5px;
	height: 5px;
	background-image: url(/pbc/Images/WindowPanel/blue_ur.gif);
	background-repeat: no-repeat;
}
.panel_blue_l
{
	width: 5px;
	background-image: url(/pbc/Images/WindowPanel/blue_l.gif);
	background-repeat: repeat-y;
}
.panel_blue_c
{
}
.panel_blue_r
{
	width: 5px;
	background-image: url(/pbc/Images/WindowPanel/blue_r.gif);
	background-repeat: repeat-y;
}
.panel_blue_bl
{
	width: 5px;
	height: 5px;
	background-image: url(/pbc/Images/WindowPanel/blue_bl.gif);
	background-repeat: no-repeat;
}
.panel_blue_b
{
	height: 5px;
	background-image: url(/pbc/Images/WindowPanel/blue_b.gif);
	background-repeat: repeat-x;
}
.panel_blue_br
{
	width: 5px;
	height: 5px;
	background-image: url(/pbc/Images/WindowPanel/blue_br.gif);
	background-repeat: no-repeat;
}
/* grey */
.panel_grey_ul
{
	width: 5px;
	height: 5px;
	background-image: url(/pbc/Images/WindowPanel/grey_ul.gif);
	background-repeat: no-repeat;
}
.panel_grey_u
{
	height: 5px;
	background-image: url(/pbc/Images/WindowPanel/grey_u.gif);
	background-repeat: repeat-x;
}
.panel_grey_ur
{
	width: 5px;
	height: 5px;
	background-image: url(/pbc/Images/WindowPanel/grey_ur.gif);
	background-repeat: no-repeat;
}
.panel_grey_l
{
	width: 5px;
	background-image: url(/pbc/Images/WindowPanel/grey_l.gif);
	background-repeat: repeat-y;
}
.panel_grey_c
{
}
.panel_grey_r
{
	width: 5px;
	background-image: url(/pbc/Images/WindowPanel/grey_r.gif);
	background-repeat: repeat-y;
}
.panel_grey_bl
{
	width: 5px;
	height: 5px;
	background-image: url(/pbc/Images/WindowPanel/grey_bl.gif);
	background-repeat: no-repeat;
}
.panel_grey_b
{
	height: 5px;
	background-image: url(/pbc/Images/WindowPanel/grey_b.gif);
	background-repeat: repeat-x;
}
.panel_grey_br
{
	width: 5px;
	height: 5px;
	background-image: url(/pbc/Images/WindowPanel/grey_br.gif);
	background-repeat: no-repeat;
}
