<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="sa" connectionString="Data Source=localhost;Initial Catalog=master;Persist Security Info=True;User ID=sa;Password=sa"/>
		<add name="pbcadmin" connectionString="Data Source=localhost;Initial Catalog=PBC;Persist Security Info=True;User ID=pbcadmin;Password=6rUchaDEsuxAy34exUtu"/>
	</connectionStrings>
</configuration>