.Over_Outlook
{
	border: solid 1px #7f9db9;
	background-color: #fefee1;
}

.Focus_Outlook
{
	border: solid 1px #7f9db9;
	background-color: #fefee1;
}

.Default_Outlook
{
	border: solid 1px #7f9db9;
	background-color: #fefee1;
}

.Error_Outlook
{
	border: solid 1px #7f9db9;
	background-color: #fefee1;
	color: red;
}
.Hint_Outlook
{
	background-color: #ccff00;
	margin-top: 5px;
	border: 1px solid black;
	text-align: left;
	overflow: auto;
}

.Hint_Outlook a, Hint_Outlook a:visited, .Hint_Outlook a:hover
{
	margin: 2px;
	color: black;
	text-decoration: none;
	font-size: small;
}
