<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<add key="IsDebug" value="true"/>
		<add key="ApplicationTitle" value="Personal Budget Calculator"/>
	</appSettings>
	<connectionStrings>
		<add name="default" connectionString="Data Source=localhost;Initial Catalog=PBC;Persist Security Info=True;User ID=sa;Password=sa"/>
	</connectionStrings>
	<system.web>
		<compilation
			debug="true"
			defaultLanguage="C#"
		/>
		<trace
			enabled="false"
			pageOutput="false"
			requestLimit="100"
		/>
		<sessionState
			mode="StateServer"
			stateConnectionString="tcpip=127.0.0.1:42424"
			sqlConnectionString="data source=127.0.0.1;user id=sa;password="
			cookieless="false"
			timeout="30"
		/>
		<authentication mode="Forms">
			<forms
				name="ASPXAUTH"
				loginUrl="~/Private/Login.aspx"
				protection="All"
				timeout="30"
				path="/"
			/>
		</authentication>
		<authorization>
			<allow users="*"/>
		</authorization>
		<pages
			validateRequest="true"
		/>
		<customErrors mode="Off" defaultRedirect="~/CustomErrors/Handler.aspx">
			<error statusCode="403" redirect="~/CustomErrors/AccessDenied.aspx" />
			<error statusCode="404" redirect="~/CustomErrors/ResourceNotFound.aspx" />
		</customErrors>
		<globalization
			culture="ru-RU"
			uiCulture="ru-RU"
		/>
	</system.web>
</configuration>